@page "/blazorstyle"


@foreach (var data in content)
{
    <section>
        @((MarkupString)data)
    </section>    
}

@code {
    private List<string> content = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        content.Add("<p class='markup'>This is a <em>markup string</em>.</p>");
        content.Add("<img src='https://source.unsplash.com/random'");
        content.Add("<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/UjoFECrCxBI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>");
    }
}
