@page "/"


<section>
    <h1>title 1</h1>
</section>
<section>
    <h1>title 2</h1>
</section>
<section>
    <h1>title 3</h1>
</section>
<section>
    <h1>title 4</h1>
</section>
<section>
    <h1>title 5</h1>
</section>
<section>
    <h1>title 6</h1>
</section>
<section>
    <h1>title 7</h1>
</section>
<section>
    <h1>title 8</h1>
</section>
<section>
    <h1>title 9</h1>
</section>
<section>
    <h1>title 10</h1>
</section>